# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Engine specific
*.pac

# Paths
build/*
!build/*.keep
[Mm]isc/.vs
code/src/asset_system/assets/*
!code/src/asset_system/assets/*.keep
code/src/asset_system/fonts/*
!code/src/asset_system/fonts/*.keep


