# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.map
*.pdb
*.pac

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Engine specific
*.pac
*.eaf
*.sav

# Assets
*.jpg
*.png
*.ttf
*.bmp
*.mp3
*.wav
*.fbx

*.vcxproj*
*.ilk
*.ini
*.log
*.idb
*.tlog

# Paths
local/*
*.vs
*.sln

# Legacy
spade_legacy/code/lib/fbxsdk/samples
spade_legacy/build
src/lib/FBX/*
!x64/Debug/assets/
