# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.map
*.pdb
*.pac

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Engine specific
*.pac
*.eaf
*.sav

# Assets
*.jpg
*.png
*.ttf
*.bmp
*.mp3
*.wav
*.fbx

*.vcxproj*

# Paths
local/*
*.vs
*.sln
build/assets/*
!build/assets/*.keep
build/fonts/*
!build/fonts/*.keep
SpadeV2/Spade/x64

